<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>HOME FOOD BIRAYNI READY </h1>
        <h2><a href="{% url 'eating' %}"></a>EATING</h2>
        <img src="https://img.freepik.com/premium-photo/indian-family-eating-food-dining-table-home_976047-1464.jpg?semt=ais_hybrid" alt="">
        <h2><a href="{% url 'come' %}">HOME</a></h2>
        
    </center>
</body>
</html>