<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>WELCOME TO MY HOME</h1>
        <a href="{% url 'biryani' %}">COME</a><br>
        <img src="https://media.istockphoto.com/id/1400267055/photo/a-businessman-is-entering-in-an-hotel-room.jpg?s=612x612&w=0&k=20&c=bY_sFRR-QIqCwEN8vKg9zcsqOiDbMxpgZuetavN9CAk=" alt="">
    </center>
</body>
</html>